.gradle/2.4/taskArtifacts/cache.properties.lock
.gradle/2.4/taskArtifacts/fileHashes.bin
.gradle/2.4/taskArtifacts/fileSnapshots.bin
.gradle/2.4/taskArtifacts/outputFileStates.bin
.gradle/2.4/taskArtifacts/taskArtifacts.bin
.idea/gradle.xml
.idea/libraries/answers_1_3_1.xml
.idea/libraries/appcompat_v7_22_2_1.xml
.idea/libraries/beta_1_1_3.xml
.idea/libraries/bolts_android_1_2_0.xml
.idea/libraries/crashlytics_2_5_1.xml
.idea/libraries/crashlytics_core_2_3_4.xml
.idea/libraries/design_22_2_0.xml
.idea/libraries/fabric_1_3_5.xml
.idea/libraries/facebook_android_sdk_4_4_0.xml
.idea/libraries/glide_3_6_0.xml
.idea/libraries/gson_2_3_1.xml
.idea/libraries/recyclerview_v7_22_2_0.xml
.idea/libraries/retrofit_1_9_0.xml
.idea/libraries/support_annotations_22_2_1.xml
.idea/libraries/support_v4_22_2_1.xml
.idea/misc.xml
.idea/workspace.xml
local.properties
circleimageview_1_3_0.xml
app.iml
gradle_project_sync_data.bin
